#education{
    padding: 10px 10px 10px 10px;
    color: rgb(129, 128, 230);
    background-color: darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.toppart{
    margin-top: 10px;
    padding:10px 0px 10px 10px;
    background-color:royalblue;
    color:darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bold{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 20;
}
#personality{
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    background-color: gray;
    text-align: left;
    color: rgb(184, 216, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
#technology{
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    color: rgb(165, 167, 227);
    background-color: rgb(13, 61, 117);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
#personalinterest{
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    background-color: darkblue;
    text-align: left;
    color: rgb(145, 189, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
}
img{
    width: 50%;
    padding: 10px 10px 10px 10px;
}